.itemname{
  font-size: 50px;
  color: rgb(119, 118, 118);
  padding-left:10%;
}
.pics{
    display: flex;
    justify-content:space-evenly;
    height: 100%;
    width: 80%;
    gap:20px;
    padding-bottom: 25px;
    margin: 0 10%;
    border-bottom: 1px solid black;
}
.boxes{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width:80%;
}
.paginationclicker{
  font-size: 32px;
}

.btn{
  margin: auto;
  padding: 10px 0;
  width:80%;
  text-align: center;
  background-color:rgb(236, 233, 233);
}

.maindiv{
  padding: 10px 5px;
  border: 1px solid rgb(159, 159, 159);
  margin: 15px 10%;
  width: 70%;
  margin:auto;
  margin-top:2%;
  margin-bottom: 2%;
}
.pages{
  display: flex;
  font-size: 25px;
}
.next{
  margin-left: 10px;
}