.elabo{
    font-size: 30px;
}
.intro{
    text-align:start;
    padding-bottom: 3%;
    width:70%;
    margin:auto
}
.tabs{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
    margin:auto;
    padding-top: 5%;
    width:70%;
}
.maincard{
    background-color:rgb(253, 252, 252);
}