.body{
    background: linear-gradient(to top,#eeeeee,#ffffff);
    padding-bottom: 4%;
}
.name {
  width: 60%;
  height:330px;
  background-color: #ffffff;
  margin: auto;
  display: flex;
  flex-direction: column; /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  /* font: bold; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}
.main {
    height:400px;
    margin: auto;
    margin: 0px 12px 0px 12px;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap: 4px;
    
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
  }

.namw:hover {
  color: black;
}


.namw:hover{
    color: black;
}
.nameInside{
    display: flex;
    /* justify-items: end; */
    gap: 30px;
    margin-left: 23%;
    color: #2184ff;
    text-decoration: none;
    font-weight: normal;
    
}
.first{
   display: flex;
   justify-content: space-between;
   text-decoration: none;
   /* color: #666666;
   font-weight: normal; */
   margin: 0px 10px;
   color: #666666;
   font-weight: normal;

   
}
.heading{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 36px;
    color: #666666;
    text-align: center;
}
.img1{
    height: 50px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    color: #666666;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    text-align: center;
    margin-left: 37%;
    gap: 20px;
}
.heading2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 26px;
    color: #888888;
    margin-top: 10px;
}
.nameInside {
  display: flex;
  /* justify-items: end; */
  gap: 30px;
  margin-left: 23%;
  color:#2193ff;
  font-size: 18px;
}
.first {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #666666;
  padding-top: 8px;
 padding-bottom: 8px;
  margin: 0px 12px;
  font-weight: 600;
  font-size: 23px;
}
.heading {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 36px;
  color: #666666;
  text-align: center;
}
.img1 {
  height: 50px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  color: #666666;
  font-weight: normal;
  font-size: 20px;
  display: flex;
  text-align: center;
  margin-left: 37%;
  gap: 20px;
}
.heading2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 26px;
  color: #888888;
  margin-top: 10px;
}

.contain {
  width: 230px;
  height: 210px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #cccccc;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: #666666;
  vertical-align: middle;
}

.main1 {
  display: flex;
  margin: auto;
  /* justify-content:space-around ; */
  /* width:80%; */
  /* margin-left: 70px; */
  /* border: 1px solid violet; */
  gap: 30px;
  justify-content: center;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}


.upper{
    /* margin: auto; */
    margin: auto;
    display: flex;
    gap: 4px;
    width: 60%;
    justify-content: center;
    margin-bottom: 30px

}


.pehla{
    width: 280px;
    /* height: 310px; */
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    /* box-shadow: 1px 1px 2px #cccccc; */
    
    /* padding: 10px; */
    text-align: center;
    font-size: 20px;
    color: #666666;
    /* vertical-align: middle; */
    display:flex;
    /* width: 20%; */
    
    /* grid-template-columns: repeat(3,1fr); */
    gap: 30px;
}


.dusra{
    width: 280px;
    height: 310px;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    /* box-shadow: 1px 1px 2px #cccccc; */
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: #666666;
    /* vertical-align: middle; */
    display:flex;
    
    /* grid-template-columns: repeat(3,1fr); */
    gap: 4px;
  }  
   
    /* ovxerflow: hidden; */
    /* background-image: url(/images/menu-vignette.png); */
    /* opacity: 0.4; */
    /* cursor: pointer; */

.tisra{
    width: 280px;
    /* height: -510px; */
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    /* box-shadow: 1px 1px 2px #cccccc; */
    /* padding: 10px; */
    text-align: center;
    /* font-size: 20px; */
    color: #666666;
    /* vertical-align: middle; */
    display:flex;
    
    /* grid-template-columns: repeat(3,1fr); */
    justify-content: space-evenly;
    
}

.tisra1{
    /* border: 1px solid red; */
    width: 10%;
}
.span{
    margin-left:40px
}
.corner{
    width: 20%;
    /* gap: 30px; */
}
.button{
    /* background-color: red;
    color: white;
    height: 35px; */
    font-family: 'Roboto', Arial;
    width: 100px;
    height: 30px;
    line-height: 15px;
    background-color: #f53838;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 15px 8px 15px;
    text-align: center;
    vertical-align: middle;
    border-radius: 6px;
}

.change{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4px;
    
}

.recipe{
    height:200px;
    /* margin: auto; */
    /* margin: 0px 12px 0px 12px; */
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    /* gap: 4px; */
    /* height:400px; */
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    /* box-shadow: 1px 1px 2px #cccccc; */
}


.last{
    height:300px;
    /* margin: auto; */
    /* margin: 0px 12px 0px 12px; */
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    /* gap: 4px; */
    /* height:400px; */
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    padding-top: 40%;
}


.heading3 {
  text-align: center;
  margin:auto;
  margin-top:3%;
  font-size: 18px;
  color: #888888;
  width:50%;
  font-weight: 500;
}
.des {
  font-size: 14px;
  /* border: 1px solid red; */
  padding-bottom: 8px;
}
.con {
  /* font-size: 17px; */
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  /* width: 50px; */
  /* aspect-ratio: auto 50 / 50; */
  /* height: 45px; */
  /* border: 1px solid red; */
}
.image {
  height: 75%;
}

.lower{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 26px;
    color: #888888;
    /* margin-top: 10px; */
    
}
.lower2{
    justify-items: center;
    margin-left: 19%;
}

.lower3{
    
    /* font-size: 14px; */
    margin-left: 22%;
   
}
.lower4{
     /* margin-left: 22%; */
     margin: auto;
     background-color: #ECECEC;
     
}
.heading4{
    font-family: 'Roboto', Arial;
   
    /* line-height: 19px; */
    background-color: #f53838;
    color: #ffffff;
    
    font-weight: bold;
    padding: 8px 15px 8px 15px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 450px;
    height: 90px;
    line-height: 40px;
    font-size: 40px;
    border-radius: 10px;
    /* border-radius: 6px; */
    /* border-radius: 6px; */
}

.heading5{
    font-size: 16px;
}

.food{
  display: flex;
}
.food1{
  font-family: 'Roboto', Arial;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: #666666;
  padding: 3px 10px 3px 10px;
  height: 30px;
  width: 300px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  outline: none;
  background-color: #ffffff;
}


@media all and (min-width: 380px) and (max-width: 700px) {
  .name {
    width: 100%;
  }
}

@media all and (min-width: 50px) and(max-width:379px) {
  .name {
    width: 100%;
  }
}
