.tabbtn{
    border: 1px solid rgb(137, 137, 137);
    background-color:rgb(242, 242, 242);
    font-size: 20px;
    color: rgb(87, 85, 85);
    border-radius: 4px;
    padding-top: 5px;
    height:55px;
    width:180px;
    text-align: center;
    outline: rgb(255, 255, 255);
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tabbtn:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}